ul {
    width: 20em;
    list-style-type: none;
    text-align: left;
    /* margin: auto; */
}

.chat-container {
    width: 20em;
    margin: auto;   
}

ul li{
    display: table;
    clear: both;
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 2px;
    background: #0084ff;
    color: #fff;
  }